@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100');

.about-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff
  }

.container-about {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-about {
  font-weight: 100;
  font-size: 28px;
  color: #000000;
}

.dud-about {
  color: #757575;
}
