/*Home Page Body*/
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/sky5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', serif;
  
}

/*PROFILE PICTURE*/
.profile-position {
    position: absolute;
    top: 40%;
    left: 66.66%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    display: flex;
    z-index: -9999;
}
  
.profile-animation {
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  animation: pic-fade-in 1.6s;
}

/*animation for My Name & Paragraph*/
@keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(150%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}

/*animation for Above Name */
@keyframes slide-in-slow {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
    
/*TEXT FORMATTTING!! !! !*/
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

.text-section {
  font-family: "Outfit", Arial, sans-serif;
  position: absolute;
  text-align: justify;
  top: 40%;
  left: 40%;
  transition: font-size 0.5s;
  transform: scale(0.8); 
  
  transform: translate(-50%, -50%);
}

.above-name {
  font-size: 18px;
  margin-top: 10px; 
  margin-bottom: 10px;
  animation: slide-in-slow 1s ease forwards; 
}

.name {
  font-size: 48px;
  margin-top: 10px; 
  margin-bottom: 10px; 
  animation: slide-in 1s ease forwards;
}

.description {
  font-family: "Outfit", Arial, sans-serif;
  font-size: 14px;
  text-align: justify;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes pic-fade-in {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .text-section {
    /* do later for phone screens */
  }
}


