/* Home Page Body */
body {
  margin: 0;
  padding: 0;
  background-image: none; 
  background-color: #ffffff;
  background-size: 50%;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Arial', serif;
}

.drawing-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  
}

.drawing-image {
  max-width: 50%;
  height: auto;
  
  margin-right: 3%;
}


/* Animation for My Name */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(150%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Animation for Above Name */
@keyframes slide-in-slow {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


/* TEXT FORMATTING */
@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

.text-section {
  font-family: "Outfit", Arial, sans-serif;
  position: absolute;
  text-align: justify;
  top: 35%;
  left: 25%;
  transition: font-size 0.5s;
  transform: scale(0.8);
  transform: translate(-50%, -50%);
  width: 30%;
  height: 20%;
  
}

.above-name {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: slide-in-slow 1s ease forwards;
}

.name {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: slide-in 1s ease forwards;
}

.text-section p {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: slide-in 1.2s ease forwards;

}


@media (max-width: 600px) {
  .drawing-container {
    position: absolute;
    top: 30%;
    left: 66%;
    transform: translate(-50%, -50%);
    height: 50vh;
  }

  .text-section {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
  }

  .name {
    font-size: 30px; /* Updated font size */
  }
  .text-section p {
    font-size: 12px; /* Updated font size */
  }

  .drawing-image {
    max-width: 200%; 
}
}