.text-question {
    font-weight: 100;
    font-size: 28px;
    color: #000000;
  }
  
  .container-question {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Use 100vh to make the container take up the full height of the viewport */
  }
  